<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.postweb.mapper.PostMapper">
	<insert id="registPost" parameterType="com.postweb.domain.PostDTO" useGeneratedKeys="true" keyProperty="postNo">
		insert into posts(post_writer_no, post_title, post_content, post_hit) 
		value (#{postWriterNo}, #{postTitle}, #{postContent}, 0)
	</insert>
	
	<select id="getAllPosts" resultType="com.postweb.domain.PostDTO">
		select * from posts
		order by post_reg_date DESC
	</select>
	
	<select id="getPostDetail" parameterType="long" resultMap="PostWithUser">
		select p.*, u.user_nick from posts p
		join users u on u.user_no = p.post_writer_no
		where p.post_no = #{postNo}
	</select>
	
	<resultMap id="PostWithUser" type="com.postweb.domain.PostDTO">
		<id property="postNo" column="post_no" />
		<result property="postWriterNo" column="post_writer_no"/>
		<result property="postTitle" column="post_title"/>
		<result property="postContent" column="post_content"/>
		<result property="postRegDate" column="post_reg_date"/>
		<result property="postHit" column="post_hit"/>
		<association property="userDTO" javaType="com.postweb.domain.UserDTO">
	        <result property="userNo" column="user_no" />
	        <result property="userNick" column="user_nick" />
	    </association>	
    </resultMap>

	<delete id="deletePost" parameterType="long">
		delete from posts
		where post_no = #{postNo} and post_writer_no = #{userNo}
	</delete>
	
	<update id="updatePost" parameterType="com.postweb.domain.PostDTO">
		update posts
	    set post_title = #{postTitle},
	        post_content = #{postContent}
	    where post_no = #{postNo}
	</update>
</mapper>